@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--colors-background: #0e0f13;
	--colors-foreground: #1b1e28;
	--colors-text: #d4d4d8;
	--colors-axis: #d4d4d8;
	--colors-grid: #292e3d;
	--colors-primary: #34d399;
}

body {
	font-family: 'Nunito', sans-serif;
	background-color: var(--colors-background);
}

.Axis line {
	stroke: var(--colors-text);
}

.Grid line {
	stroke: var(--colors-grid);
}

.Axis text {
	fill: var(--colors-text);
	stroke: var(--colors-background);
	paint-order: stroke;
	font-size: 12px;
}

.Chart text {
	font-family: 'Source Code Pro', monospace;
}

.Panel rect {
	fill: var(--colors-foreground);
}

.Panel line {
	stroke: var(--colors-grid);
}

::selection {
	background: var(--colors-primary);
	color: var(--colors-background);
}

h2 {
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 1.2rem;
}

h3 {
	font-size: 1.2rem;
	font-weight: bold;
}
